#theme {
  background-color: #7ec0ee;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
}

#main {
  text-align: center;
}

#header {
  font-size: 5em;
  margin-top: 100px;
}

#btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 1.5em;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 100px;
}
